.products-wrap{
  min-height: 100vh;
  background-color: #f9fafb;
  &.butoe{
    padding-bottom: 66px;
  }
  .pr-title{
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
  }
  .prt-one{
    .card-row{
      border-bottom: 1px solid rgb(221, 221, 221);
    }
  }
  .pr-top-card{
    margin: 0 15px;
    margin-bottom: 15px;
    background-color: #fff;    
    padding: 20px;
    border-radius: 5px;
    .card-title{
      font-size: 16px;
      font-weight: bold;
      color: #111a34;
    }
    .card-row{
      margin-top: 4px;
      padding: 4px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      &.bold{
        span{
          font-weight: bold;
          color: #41485d;
        }
        .strong strong{
          font-weight: bold;
          color: #41485d;
        }
        
      }
      span{
        font-size: 12px;
        color: #858b9c;
        
      }
      .strong{
        max-width: 176px;
        strong{
          font-size: 12px;
          color: #41485d;
        }

        
      }
    }
    .card-table{
      padding-top: 10px;
      strong{
        padding-bottom: 4px;
        font-size: 14px;
        display: block;
        text-align: center;
      }
      span{
        padding: 4px 0;
        font-size: 12px;
        color: #2c3e50;
        display: block;
        text-align: center;
      }
      .success{
        color: #52c41a;
      }
      .error{
        color: #f5222d;
      }
      .blod{
        font-weight: bold;
      }
    }
    .w-e-text{
      padding-top: 20px;
    }
  }
  .can-reserve{
    
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    background-color: #fff;
    .button{
      text-align: center;
      line-height: 46px;
      display: block;
      height: 46px;
      font-size: 16px;
      display: block;
      background: linear-gradient(45deg,#eb2f96,#f5222d);
      color: #fff;
    }
  }
}
