.my-message-wrap{
    position: relative;
    // padding-top: 10px;
    background-color: #fafafa;
    height: 100%;
    // padding-bottom: 60px;
    .return{
        height: 44px;
        font-size: 16px;
        color: #FF5E67;
        line-height: 44px;
        text-align: center;
        font-weight: 700;
        border-bottom: 2px #ccc solid;
        background-color: #fff;
        &::before{
            content: '';
            position: absolute;
            left: 26px;
            right: 0;
            top: 14px;
            transform: rotate(45deg);
            display: block;
            // background-color: #d42d27;
            border-left: 2px #FF5E67 solid;
            border-bottom: 2px #FF5E67 solid;
            width: 16px;
            height: 16px;
        }
    }
    .headPortrait{
        position: relative;
        overflow: hidden;
        height: 132px;
        // background-color: blue;
        text-align: center;
        font-size: 12px;
        color: #ccc;
        div{
            // position: absolute;
            // top: 22px;
            // left: 150px;
            margin: 22px auto 13px;
            width: 62px;
            height: 62px;
            border-radius: 6px;
            border: 1px #ccc solid;
        }
    }
    //信息展示部分
    .informationDisplay{
        width: 332px;
        height: 268px;
        background-color: #fff;
        margin: auto;
        div{
            width: 310px;
            height: 48px;
            line-height: 48px;
            // padding-left: 22px;
            font-size: 14px;
            font-weight: 700;
            color: #000;
            border-bottom: 2px #ccc solid;
            &:first-child{
                font-size: 16px;
                border: none;
            }
            span{
                display: block;
                float: right;
                // margin-right: 20px;
                font-size: 14px;
                color: #ccc;
            }
        }
    }
}