.my-appointment-wrap {
  position: relative;
  background-color: #fafafa;
  height: 100%;
}
.my-appointment-wrap .return {
  height: 44px;
  font-size: 16px;
  color: #FF5E67;
  line-height: 44px;
  text-align: center;
  font-weight: 700;
  border-bottom: 2px #ccc solid;
  background-color: #fff;
}
.my-appointment-wrap .return::before {
  content: '';
  position: absolute;
  left: 26px;
  right: 0;
  top: 14px;
  transform: rotate(45deg);
  display: block;
  border-left: 2px #FF5E67 solid;
  border-bottom: 2px #FF5E67 solid;
  width: 16px;
  height: 16px;
}
