.contact-wrap{
    position: relative;
    // padding-top: 10px;
    background-color: #fafafa;
    // padding-bottom: 60px;
    min-height: calc(100vh - 46px) ;
    &::before{
        // z-index: -1;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        display: block;
        background-image: url('~@/assets/img/home-top.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 226px;
    }
    .navigation-top{
        position: relative;
        z-index: 1;
        margin:auto;
        display: flex;
        // width: 375px;
        height: 140px;
        // logo
        .headPortrait{
            width: 62px;
            height: 62px;
            margin: 50px 14px 30px 26px;
            border-radius: 6px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        // 昵称部分nickname
        .nickname{
            // width: 250px;
            height: 62px;
            margin: 50px 0 30px 14px;
            line-height: 62px;
            span{
                padding-left: 2px;
                font-size: 30px;
                font-weight: 700;
                color: #fff;
            }
        }
    }
    .navigation-column{
        position: relative;
        z-index: 1;
        background-color: #fff;
        border-radius: 6px;
        margin: 0 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 20px;
        padding-bottom: 20px;
        box-shadow: 0 0 10px 0px #e2e4ea;
        .li{
    
            height: 76px;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            border-bottom: 1Px #e2e4ea solid;
            &:last-child::after{
  
                content: '';

                display: block;
                border-top: 1px #e2e4ea solid;
                border-right: 1px #e2e4ea solid;
                transform: rotate(45deg);
                width: 10px;
                height: 10px;
            }

            span:first-child{
                display: block;
                margin-top: 18px;
                font-size: 14px;
                color: #111A34;
            }
            span{
                font-size: 12px;
                // font-weight: 700;
                letter-spacing: 2px;
                color: #858B9C;
            }
        }
    }

}