.my-wrap {
  position: relative;
  padding-top: 10px;
  background-color: #fafafa;
  padding-bottom: 60px;
}
.my-wrap::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: block;
  background-color: #d42d27;
  height: 226px;
}
.my-wrap .navigation-top {
  position: relative;
  z-index: 1;
  margin: auto;
  display: flex;
  width: 375px;
  height: 140px;
}
.my-wrap .navigation-top .headPortrait {
  width: 62px;
  height: 62px;
  margin: 40px 0 28px 24px;
  border-radius: 6px;
  border: 1px #ccc solid;
}
.my-wrap .navigation-top .nickname {
  width: 250px;
  height: 62px;
  margin: 40px 0 28px 24px;
}
.my-wrap .navigation-top .nickname span:first-child {
  padding-left: 2px;
  font-size: 30px;
  font-weight: 700;
  color: #FCFEFF;
}
.my-wrap .navigation-top .nickname span {
  padding-left: 2px;
  font-size: 12px;
  color: #E7BCBF;
}
.my-wrap .navigation-column {
  position: relative;
  z-index: 1;
  background-color: #fff;
  border-radius: 6px;
  margin: 0 14px;
  display: flex;
  flex-wrap: wrap;
  width: 347px;
  box-shadow: 0 0 10px 0px #ddd;
}
.my-wrap .navigation-column .li {
  margin: 6px 20px;
  width: 308px;
  height: 50px;
  border-bottom: 2px #ccc solid;
}
.my-wrap .navigation-column .li:last-child {
  margin-bottom: 20px;
}
.my-wrap .navigation-column .li::after {
  content: '';
  position: absolute;
  right: 20px;
  display: block;
  margin-top: 25px;
  border-top: 2px #ccc solid;
  border-right: 2px #ccc solid;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
}
.my-wrap .navigation-column .li img {
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  margin-top: 20px;
}
.my-wrap .navigation-column .li span {
  margin-top: 20px;
  margin-left: 10px;
  display: block;
  float: left;
  height: 20px;
  font-size: 16px;
  letter-spacing: 2px;
}
.my-wrap .tabbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 38px;
  padding: 6px;
  background-color: #fafafa;
}
.my-wrap .tabbar .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.my-wrap .tabbar .item .txt {
  font-size: 12px;
}
.my-wrap .tabbar .item .icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
